---
permalink: /api/v1/ja/latest-posts.json
---
{% set postListItemsKey = 'postFeed_ja' if locale == 'ja' else 'postFeed' %}{% set postListItems = collections[postListItemsKey] %}{% extends 'layouts/api/v1/latest-posts.json.njk' %}