.level {
  display: inline-block;
  margin-top: .8rem;
  padding: 0 .5rem;
  border: 2px solid rgba(32, 33, 36, .16);
  border-radius: 5px;
}

.intro__level {
  display: inline-block;
  margin-bottom: .8rem;
  padding: 0 .5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.intro__author {
  color: rgba(255, 255, 255, .8);
  font-size: get-size(500);
}