.post-list {
  &__items {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 26rem);
    justify-content: start;
    justify-items: center;
  }

  &__item {
    max-width: 26rem;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 100%;
    padding: get-size(300);
    &:hover {
      border: 1px solid #f0f0f0;
    }
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
