.select {
  font-weight: 400 !important;
  appearance: none;
  border-radius: 3px;
  background-size: 20px 100%;
  background-image: url("/images/arrow_dropdown.svg");
  background-repeat: no-repeat;
  background-position: right .6em top 50%;
  padding: .3em 1.5em .3em 1em;
}
