<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading{{ ' intro__heading--initto' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introAuthor %}
      <div class="intro__author">{{ introAuthor }}</div>
    {% endif %}
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
    {% if introWatchTime %}
      {% if locale == 'ja' %}
        <div class="[ pad-right-100 ]">所要時間, {{ introWatchTime }}分</div>
      {% else %}
        <div class="[ pad-right-100 ]">Watch, {{ introWatchTime }} min</div>
      {% endif %}
    {% endif %}
    {% if introLevel %}
      <div class='intro__level'>{{ introLevel }}</div>
    {% endif %}
  </div>
</header>
