{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">{{ postListHeading }}</h2>
      <ol class="[ post-list__items ] [ pad-top-300 ]" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="[ post-list__item ] [ pad-xy-300 ]">
              <h3 class="font-base leading-tight text-600 weight-mid">
                <a href="{{ item.url | url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>

              <p class="text-100 gap-top-300 weight-light">
                {% set displayDate = item.date | dateFilterJa if locale == 'ja' else item.date | dateFilter %}
                <time datetime="{{ item.date | w3DateFilter }}">{{ displayDate }}</time>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
