/* Whyte */
@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Whyte/Whyte-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Whyte/Whyte-Regular.otf') format('opentype');
}

/* Whyte Linktrap */
@font-face {
  font-family: 'Whytelnktrap';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/WhyteInktrap/WhyteInktrap-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Whytelnktrap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/WhyteInktrap/WhyteInktrap-Regular.otf') format('opentype');
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(800);
  }

  h2 {
    font-size: get-size(700);
  }

  h3 {
    font-size: get-size(600);
  }
}
