@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Local mixins
@import 'mixins/dark-mode';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

// For when metric attributes are added to img elements
img {
  height: auto;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/button';
@import 'components/form';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/tag';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/select';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';

.intro__heading--initto {
  max-width: none;
}

.site-head__site-name {
  font-family: Whytelnktrap;
}

@media screen and (max-width: map-get($metrics, 'md-breakpoint')){
  .post-list__items {
    grid-template-columns: 100%;
  }

  .tags {
    display: flex;
    flex-direction: column;
    align-items: start;

    .nav__list {
      display: flex;
      flex-direction: column;
      align-items: start;

      .tag__item {
        margin: 0;
      }
    }
  }

  .site-head__site-name {
    display: block;
  }

  .site-foot__inner {
    flex-direction: column;

    .site-foot__inner__item {
      display: initial;

      a {
        display: block;
      }

      .site-foot__inner__link-item {
        padding: 0;
        padding-bottom: 1rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

